.main-section { display: flex; color: #fffaeb; align-items: center; justify-content: center; padding: 80px; }
.main-section .content { max-width: 800px; }
h1.main-heading { font-size: 32px; font-weight: 700; color: #fffaeb; line-height: 120%; margin-bottom: 5px; }

.secondary-sec { display: flex; flex-direction: column; gap: 20px;}
.secondary-sec h2 { font-size: 28px; font-weight: 600; }
.secondary-sec button { width: 200px; }


@media (max-width: 500px) {
  .main-section { padding-left: 20px; padding-right: 20px; }
}

@import "tailwindcss";

